 body {
        margin-left:30px;
        margin-right:28px;
        line-height: 1.5;
        FONT-FAMILY: Arial, Verdana ; 
        font-size: 0.8em;
    }
     .header-container {
        background-color: #808080;
        border-bottom: 1px solid #C1CFDA;
        -webkit-box-shadow: 0 2px 2px rgb(71, 98, 116, 0.1);
        box-shadow: 0 2px 2px rgb(71, 98, 116, 0.1);
    }
    
    .bookwrapper {
        width: auto;
        margin: auto;
    }
    
    .clearfix {
    }
    
    .clearfloat {
        clear: both;
        overflow: auto;
        height: 0px;
        font-size: 1px;
        line-height: 0px;
    }
    
    #brandProdName {
        width: auto;
        height: auto;
    }
    
    #logocover {
        display: block;
        background: rgb(71, 98, 116, 0.1)
        height: 50px;
        width: 229px;
        float: left;
    }
    
    #productName {
        font-size: 16px;
        position: relative;
        top: 19px;
        padding-left: 3px;
        color: #457798;
        white-space: nowrap;
        width: 340px;
    }

    #TopBar_bl {        
        width: 100%;
        height: 60px;
    }
    #TopBar_br {
        width: 100%;
        height: 60px;
    }
    #TopBar_tl {
        margin-left: -110px;
        margin-right: -100px;    
		align: left;
        height: 60px;
    }
    #TopBar_tr {
        width: 100%;
        height: 60px;
    }
    
    #TopBar {
        min-width:700px;
        padding:25px 100px 10px;
        margin-bottom:25px;
        clear:both;
        
        border-bottom:1px solid #d2dde5;
        border-radius: 3px;
    
        background:#808080;
        
    }
    
    #TopBar_left {
        line-height: 10px;
        position: absolute;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        text-align: left;
        font: 13px/20px Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #333;
    }
    
    #TopBar_right {
        line-height: 12px;
        float: right;
        padding-top: 10px;
        padding-right: 30px;
        text-align: left;
    }
    
    #TopBar_right a {
        font-size: 12px;
        margin: 3px;
        padding: 0;
    }

    #Footer {font-family; Arial; color; black;}
    
    .footertext {
        font-size: 10px;
        font-family: Arial; 
        margin-top: 1px;
    }
    
    div#Body {
        margin: 15px 20em 10px 3em;
    }
    div.RightBar {
        font-family: Arial; 
        float: right;
    }
  
    div.RightBox {
        margin: 10px 3em 10px 0;
        width: 15em;
        border-style: single;
    }
    div.BlueRightBox {
        margin: 10px 3em 10px 0;
        width: 15em;
        border-style: double;
        background:#ffffff;
        
    }
    div.Pad {
        font-size: 80%;
        padding: 1em;
    }
    div.Pad h2 {
        text-align: center;
        margin: 0;
    }
    div.Pad div {
        display: list-item;
        margin: 0.3em 1em;
    }
    ul.BlueArrows {
        list-style-image: url(images);
    }
    ul.BlueArrows a:visited, ul.BlueArrows a:link {
        text-decoration: none;
    }
    ul.BlueArrows a:hover, ul.BlueArrows a:active {
        text-decoration: underline;
    }
     h1, h2, h3, h4, h5 {
        color: #;
        font-family: sans-serif;
    }

    h1 {
        font-weight: bold;
        font-size: 10px;
    }

    h2 {
        font-weight: bold;
        font-size: 10px;
    }

    h3 {
        font-weight: bold;
        font-size: 10px;
    }

    h4 {
        font-size: 10px;
    }

    h5 {
        font-size: 10px;
    }
